{% extends 'base.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block body %}
<main class="container">
    <h1>Edit Profile</h1>

    {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.dateDeNaissance) }}
        {{ form_row(form.adressePostale) }}
        {{ form_row(form.numeroDeTelephone) }}
        <button class="btn btn-primary">Sauvegarder les modifications</button>
    {{ form_end(form) }}
</main>
{% endblock %}
