{# templates/profile/view.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
<div class="container">
    <h1>Mon Profil</h1>
    <p><strong>Email :</strong> {{ utilisateur.email }}</p>
    {% if infoUtilisateur %}
        <p><strong>Nom :</strong> {{ infoUtilisateur.nom }}</p>
        <p><strong>Prénom :</strong> {{ infoUtilisateur.prenom }}</p>
        <p><strong>Date de Naissance :</strong> {{ infoUtilisateur.dateDeNaissance ? infoUtilisateur.dateDeNaissance|date('Y-m-d') : 'N/A' }}</p>
        <p><strong>Adresse :</strong> {{ infoUtilisateur.adressePostale }}</p>
        <p><strong>Numéro de Téléphone :</strong> {{ infoUtilisateur.numeroDeTelephone }}</p>
    {% else %}
        <p>Aucune information utilisateur disponible.</p>
    {% endif %}
    <a href="{{ path('profile_edit') }}" class="btn">Modifier le profil</a>
</div>
{% endblock %}
