{% extends 'base.html.twig' %}

{% block title %}Liste des Films{% endblock %}

{% block body %}
    <h1>Liste des Films</h1>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('favorite_list') }}" class="btn btn-primary">Voir les films favoris</a>
    {% endif %}

    <form action="{{ path('film_list') }}" method="get" class="form-inline mb-4">
        <input type="text" name="search" placeholder="Rechercher..." class="form-control mr-sm-2" value="{{ searchQuery }}">
        <button type="submit" class="btn btn-primary">Rechercher</button>
    </form>

 <div class="row">
    {% if films.items|length > 0 %}
        {% for film in films.items %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="https://image.tmdb.org/t/p/w300{{ film.poster_path }}" class="card-img-top" alt="{{ film.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ film.title }}</h5>
                        <p class="card-text">{{ film.overview }}</p>
                        <a href="{{ path('film_detail', {'id': film.id}) }}" class="btn btn-primary">Détails</a>
                        <form action="{{ path('film_add_favorite', {'id': film.id}) }}" method="post" class="d-inline">
                            <button type="submit" class="btn btn-success">Ajouter aux favoris</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Aucun film trouvé pour cette page.</p>
    {% endif %}
</div>

{% endblock %}
