{% extends 'base.html.twig' %}

{% block title %}Signalement index{% endblock %}

{% block body %}
    <h1>Signalement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Raison</th>
                <th>DateDeCreation</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for signalement in signalements %}
            <tr>
                <td>{{ signalement.id }}</td>
                <td>{{ signalement.raison }}</td>
                <td>{{ signalement.dateDeCreation ? signalement.dateDeCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ signalement.statut ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_signalement_show', {'id': signalement.id}) }}">show</a>
                    <a href="{{ path('app_signalement_edit', {'id': signalement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_signalement_new') }}">Create new</a>
{% endblock %}
