{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block body %}
<main class="container">
    <h1>Contactez-Nous</h1>

    {{ form_start(form) }}
        
        {% if form.email is defined %}
            {{ form_row(form.email) }}
        {% endif %}
        
        {{ form_row(form.objet) }}
        {{ form_row(form.corps) }}
        
        <button class="btn btn-primary">Envoyer</button>
    {{ form_end(form) }}
</main>
{% endblock %}
