{% extends 'base.html.twig' %}

{% block title %}Contact Us{% endblock %}

{% block body %}
<div class="container">
    <h1>Contactez-Nous</h1>

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.objet) }}
        {{ form_row(form.corps) }}
        <button class="btn btn-primary">Envoyer</button>
    {{ form_end(form) }}
</div>
{% endblock %}
