<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'><text y='1.2em' font-size='96'>⚫️</text><text y='1.3em' x='0.2em' font-size='76' fill='#fff'>sf</text></svg>">
        
        <!-- les feuilles de style CSS -->
        
        {% if current_route == 'film_list' %}
            <link rel="stylesheet" href="{{ asset('asset/css/film.css') }}">
        {% elseif current_route == 'film_details' %}
            <link rel="stylesheet" href="{{ asset('asset/css/film_details.css') }}">
        {% elseif current_route == 'admin' %}
            <link rel="stylesheet" href="{{ asset('asset/css/admin.css') }}">
        {% elseif current_route == 'formulaire' %}
            <link rel="stylesheet" href="{{ asset('asset/css/form.css') }}">
        {% elseif current_route == 'film_favorie' %}
            <link rel="stylesheet" href="{{ asset('asset/css/film_favorie.css') }}">
        {% endif %}
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    </head>
    <body>
        {% block nav %}
            {% include 'layout/menu.top.twig' %}
        {% endblock %}
        {% block body %}
        <!-- Affichage des messages flash -->
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

        {% endblock %}
        {% block footer %}
            {% include 'layout/menu.butom.twig' %}
        {% endblock %}
{% block javascript %}

{% endblock %}
    </body>
</html>
