{% extends 'admin/index.html.twig' %}

{% block title %}Nouveau Bannissement{% endblock %}

{% block admin %}
    <h1>Creation de Bannissement</h1>

    {{ form_start(form) }}
        {{ form_row(form.raison) }}
        {{ form_row(form.utilisateur) }}
        {{ form_row(form.duree) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_bannissement_index') }}" class="btn btn-success ">Retour à la liste</a>
{% endblock %}
