<nav>
    <div class="container-fluid">
        <a href="{{ path('film_list') }}"><img src="{{ asset('asset/images/logo.png') }}" class="logo" alt="Logo du site"></a>

        <button class="menu-toggle" aria-label="Toggle menu">
            <i class="fa-solid fa-bars"></i>
            <i class="fa-solid fa-xmark"></i>
        </button>
        <div class="navbar">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('profile_view') }}">Profil</a>
                <a href="{{ path('favorite_list') }}">
                    Mes Favoris
                </a>
                <a href="{{ path('app_contact_new') }}">Contactez-nous</a>

                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin_dashboard') }}">Admin</a>
                {% endif %}
                <a href="{{ path('app_logout') }}">Déconnexion</a>

            {% else %}
                <a href="{{ path('app_login') }}">Connexion</a>
                <a href="{{ path('app_register') }}">Inscription</a>
                <a href="{{ path('app_contact_new') }}">Contactez-nous</a>
            {% endif %}
        </div>
    </div>
</nav>

{% block javascript %}
    <script src="{{ asset('asset/js/menu.js') }}"></script>
{% endblock %}
